/**************************** General Attributes *******************************/

*{
  outline: none !important;
}

a{
  text-decoration: none !important;
}

body{
  background: #efefef;
}

.clearfix{
  clear: both;
}

.content{
  margin-top: 60px;
}

.content.no-margin{
  margin-top: 0;
}

.centered{
  text-align: center;
}

/**************************** Navbar *******************************/

.navbar-dark{
  background: #0a6c8e;
}
.nav li{
  display: inline-block;
  margin-left: -5px;
}
.nav li a{
  padding: 6.8px 10px;
}

div#search-container {
  padding: 6px 0;
  float: left;
  margin-left: 20px;
}

#search-container input {
    width: 250px;
    padding: 3px 32px 3px 15px;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.22);
    color: #fff;
}

#search-container button {
    background: none;
    border: none;
    position: absolute;
    right: 2px;
    top: 6px;
    padding-left: 8px;
    color: rgb(251, 251, 251);
    line-height: 28px;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
}
div#search-container {
    padding: 6px 0;
    float: left;
    margin-left: 20px;
    position: relative;
}

/**************************** Buttons *******************************/

.button {
    border: none;
    padding: 7px 25px;
    color: #fff;
    border-radius: 3px;
}

.button-green{
  background: #7ab648;
}

.button-orange{
  background: #fec400;
	color: #fff !important;
}

.navbar .button-orange{
  margin-left: 15px;
}

/**************************** Form *******************************/

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.15);
}

/**************************** Index Header *******************************/

.header{
  background-image: url(../images/header1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
}

.header-action{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
}

.header-action h1{
  margin-bottom: 15px;
}
.header-action h3{
  margin-bottom: 35px;
}

.navbar-brand > img {
    display: block;
    max-height: 35px;
}
/**************************** Remodal *******************************/

.remodal{
  border-radius: 3px;
}
.remodal-close {
    right: 0;
    left: auto;
}

input[type="text"].form-control,
input[type="password"].form-control {
    margin-bottom: 15px;
}

div#register-status {
    text-align: left;
}
.status-container * {
    display: inline-block;
    width: auto;
}

div#register-status > .status-container,
div#register-status > span{
    float: left;
    margin-right: 20px;
}

.status-container input{
  float: left;
  margin: 7px 10px;
}
/**************************** Panel CSS *******************************/
.panel{
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  margin-bottom: 40px;
}
#landing-content-container{
  margin-top: -40px;
  z-index: 1;
}
#landing-content-container .title{
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 15px;
}
.panel-column{
  border-right: 1px solid #cecece;
}
p.topic-title {
    font-size: 1.2em;
}
.topic-thumb span {
    display: block;
}
.topic-thumb a {
    float: right;
}
.panel-header{
  margin-bottom: 15px;
}
ul.categories {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
ul.categories li{
  display: inline-block;
  padding: 5px 10px;
}
#topic-search{
  max-width: 300px;
  margin: 0 auto;
}
/**************************** Validation CSS *******************************/
.valdr-message.ng-valid,
.valdr-message.ng-untouched{
	display: none;
}
.valdr-message {
    font-family: inherit !important;
    font-size: 15px;
    font-weight: 400;
    color: #d54343;
	  text-align: center;
}
.ng-submitted .valdr-message{
	display: block;
}
/**************************** Mobile CSS *******************************/
@media only screen and (min-width: 641px){
  .remodal.landing-modal {
    max-width: 500px;
  }
}