/**************************** General Attributes *******************************/

*{
  outline: none !important;
  box-sizing: border-box !important;
}

a{
  text-decoration: none !important;
}

body{
  background: #efefef;
}

.clearfix{
  clear: both;
}

.content{
  margin-top: 60px;
  padding-top: 30px;
}

.content.no-margin{
  margin-top: 0;
  padding-top: 0;
}

.centered{
  text-align: center;
}

.tab-pane.message-tab{
  max-height: 80vh;
  overflow-y: auto;
}

span.question-number {
    font-weight: bold;
}

.options button{
  background: #0a6c8e;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

.options button.selected{
    background: #fec400;
    color: #fff !important;
}

/**************************** Navbar *******************************/

.navbar-dark{
  background: #0a6c8e;
}
.nav li{
  display: inline-block;
}
.nav li a{
  padding: 6.8px 10px;
}

div#search-container {
  padding: 6px 0;
  float: left;
  margin-left: 20px;
}

#search-container input {
    width: 250px;
    padding: 3px 32px 3px 15px;
    border: none;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.22);
    color: #fff;
}

#search-container button {
    background: none;
    border: none;
    position: absolute;
    right: 2px;
    top: 6px;
    padding-left: 8px;
    color: rgb(251, 251, 251);
    line-height: 28px;
    border-left: 1px solid rgba(0, 0, 0, 0.14);
}
div#search-container {
    padding: 6px 0;
    float: left;
    margin-left: 20px;
    position: relative;
}

/**************************** Buttons *******************************/

.button {
    border: none;
    padding: 7px 25px;
    color: #fff;
    border-radius: 3px;
}

.button-green{
  background: #7ab648;
}

.button-orange{
  background: #fec400;
	color: #fff !important;
}

.navbar .button-orange{
  margin-left: 15px;
}

/**************************** Form *******************************/

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.15);
}

/**************************** Index Header *******************************/

.header{
  background-image: url(../images/header1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  z-index: -1;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.75);
}

.header-action{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  text-align: center;
  width: 100%;
}

.header-action h1{
  margin-bottom: 15px;
}
.header-action h3{
  margin-bottom: 35px;
}

.navbar-brand > img {
    display: block;
    max-height: 35px;
}
/**************************** Remodal *******************************/

.remodal{
  border-radius: 3px;
}
.remodal-close {
    right: 0;
    left: auto;
}

input[type="text"].form-control,
input[type="password"].form-control {
    margin-bottom: 15px;
}

div#register-status {
    text-align: left;
}
.status-container * {
    display: inline-block;
    width: auto;
}

div#register-status > .status-container,
div#register-status > span{
    float: left;
    margin-right: 20px;
}

.status-container input{
  float: left;
  margin: 7px 10px;
}
/**************************** Panel CSS *******************************/
.panel{
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
  margin-bottom: 40px;
}
#landing-content-container{
  margin-top: -40px;
  z-index: 1;
}
#landing-content-container .title{
  font-size: 1.5em;
  font-weight: 500;
  margin-right: 15px;
}
.panel-column{
  border-right: 1px solid #cecece;
}
p.topic-title {
    font-size: 1.2em;
}
.topic-thumb span {
    display: block;
}
.topic-thumb a {
    float: right;
}
.panel-header{
  margin-bottom: 15px;
}
ul.categories {
    list-style: none;
    padding-left: 0;
    text-align: center;
}
ul.categories li{
  display: inline-block;
  padding: 5px 10px;
}
#topic-search{
  max-width: 300px;
  margin: 0 auto;
}

.row .panel{
  margin-bottom: 30px;
}

.title-picture{
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}

.tags > .topic-tag {
  padding: 3px 8px;
  border-radius: 3px;
  display: inline-block;
  background: #0a6c8e;
  margin-right: 15px;
  color: #fff;
}

.nav-tabs .nav-item {
  width: 33.333333%;
  display: block;
  margin: 0 !important;
  text-align: center;
  border-radius: 0;
  border:none;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs .nav-link{
    color: #0a6c8e !important;
}
.nav-tabs {
  margin-bottom: 15px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
  border-bottom: 2px solid #0a6c8e;
  border-top: none;
  border-left: none;
  border-right: none;
  font-weight: bold;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border:none;
}

.message-point{
  float: left;
  margin-right: 15px;
}

.message{
  margin-bottom: 15px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 3px;
}

.message-point > * {
    display: block;
    text-align: center;
    color: #0a6c8e;
}

.message-point > span{
  font-weight: bold;
} 

.message-content .title{
  font-weight: bold;
}

.float-button{
  border: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 30px;
  float: right;
  color: #fff;
}

.message-content p{
  margin-bottom: 5px;
}
.message-content .date{
  font-size: 11px;
  color: #b1b1b1; 
  float: right;
}
/**************************** Validation CSS *******************************/
.valdr-message.ng-valid,
.valdr-message.ng-untouched{
	display: none;
}
.valdr-message {
    font-family: inherit !important;
    font-size: 15px;
    font-weight: 400;
    color: #d54343;
	  text-align: center;
}
.ng-submitted .valdr-message{
	display: block;
}
.toggle {
  display: none;
}
#selam{
  display: none;
}
/**************************** Mobile CSS *******************************/
@media only screen and (min-width: 641px){
  .remodal.landing-modal {
    max-width: 500px;
  }
}


@media only screen and (max-width: 767px){
  .toggle {
    position: fixed;
    top: 10px;
    font-size: 21px;
    color: #fff;
    display: block;
    cursor: pointer;
  }
  .navbar .container {
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
  a.navbar-brand {
    float: none;
    display: block;
    margin: 0 80px;
    margin-bottom: 10px;
  }
  .navbar-brand > img {
    margin: 0 auto;
  }
  div#search-container {
    padding: 0;
    float: none;
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }
  #search-container input {
    width: 100%;
  }
  #search-container button {
    top: 0;
  }
  ul.nav{
    display: none;
  }
  ul.nav li{
    width: 100%;
    display: block;
    float: none !important;
  }
  .navbar-nav .nav-item {
    width: 100%;
    display: block;
    margin-left: 0;
    float: none;
  }
  .navbar .button-orange {
    margin-left: 0;
  }
  .panel-column{
    margin-bottom: 15px;
  }
}